<% let message = locals.message || null %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partial/admin-head.ejs') %>
  <body
    class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light"
    id="body"
  >
    <!-- WRAPPER -->
    <div class="wrapper">
      <!-- LEFT MAIN SIDEBAR -->
      <%- include('partial/admin-sidebar.ejs') %>
      <!-- PAGE WRAPPER -->
      <div class="ec-page-wrapper">
        <!-- Header -->
        <%- include('partial/admin-header.ejs') %> <
        <!-- CONTENT WRAPPER -->
        <div class="ec-content-wrapper">
          <div class="content">
            <div
              class="breadcrumb-wrapper d-flex align-items-center justify-content-between"
            >
              <div>
                <h1>Add Product</h1>
                <p class="breadcrumbs">
                  <span><a href="/admin/index">Home</a></span>
                  <span><i class="mdi mdi-chevron-right"></i></span>Product
                </p>
              </div>
              <div>
                <a href="/admin/product-list" class="btn btn-primary">
                  View All
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card card-default">
                  <div class="card-header card-header-border-bottom">
                    <h2>Add Product</h2>
                  </div>

                  <div class="card-body">
                    <form
                      action="/admin/add-product"
                      method="post"
                      enctype="multipart/form-data"
                    >
                      <div class="row ec-vendor-uploads">
                        <div class="col-lg-4">
                          <div class="ec-vendor-img-upload">
                            <div class="ec-vendor-main-img">
                              <div class="avatar-upload">
                                <div class="avatar-edit">
                                  <input
                                    type="file"
                                    id="imageUpload"
                                    class="ec-image-upload"
                                    name="thumbnail"
                                    accept=".png, .jpg, .jpeg"
                                  />
                                  <label for="imageUpload"
                                    ><img
                                      src="/assets/img/icons/edit.svg"
                                      class="svg_img header_svg"
                                      alt="edit"
                                  /></label>
                                </div>
                                <div class="avatar-preview ec-preview">
                                  <div class="imagePreview ec-div-preview">
                                    <img
                                      class="ec-image-preview"
                                      src="/assets/img/products/vender-upload-preview.jpg"
                                      alt="edit"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="thumb-upload-set colo-md-12">
                                <div class="thumb-upload">
                                  <div class="thumb-edit">
                                    <input
                                      type="file"
                                      id="thumbUpload01"
                                      class="ec-image-upload"
                                      name="images"
                                      accept=".png, .jpg, .jpeg"
                                    />
                                    <label for="imageUpload"
                                      ><img
                                        src="/assets/img/icons/edit.svg"
                                        class="svg_img header_svg"
                                        alt="edit"
                                    /></label>
                                  </div>
                                  <div class="thumb-preview ec-preview">
                                    <div class="image-thumb-preview">
                                      <img
                                        class="image-thumb-preview ec-image-preview"
                                        src="/assets/img/products/vender-upload-thumb-preview.jpg"
                                        alt="edit"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="thumb-upload">
                                  <div class="thumb-edit">
                                    <input
                                      type="file"
                                      id="thumbUpload02"
                                      class="ec-image-upload"
                                      name="images"
                                      accept=".png, .jpg, .jpeg"
                                    />
                                    <label for="imageUpload"
                                      ><img
                                        src="/assets/img/icons/edit.svg"
                                        class="svg_img header_svg"
                                        alt="edit"
                                    /></label>
                                  </div>
                                  <div class="thumb-preview ec-preview">
                                    <div class="image-thumb-preview">
                                      <img
                                        class="image-thumb-preview ec-image-preview"
                                        src="/assets/img/products/vender-upload-thumb-preview.jpg"
                                        alt="edit"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="thumb-upload">
                                  <div class="thumb-edit">
                                    <input
                                      type="file"
                                      id="thumbUpload03"
                                      class="ec-image-upload"
                                      name="images"
                                      accept=".png, .jpg, .jpeg"
                                    />
                                    <label for="imageUpload"
                                      ><img
                                        src="/assets/img/icons/edit.svg"
                                        class="svg_img header_svg"
                                        alt="edit"
                                    /></label>
                                  </div>
                                  <div class="thumb-preview ec-preview">
                                    <div class="image-thumb-preview">
                                      <img
                                        class="image-thumb-preview ec-image-preview"
                                        src="/assets/img/products/vender-upload-thumb-preview.jpg"
                                        alt="edit"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="thumb-upload">
                                  <div class="thumb-edit">
                                    <input
                                      type="file"
                                      id="thumbUpload04"
                                      class="ec-image-upload"
                                      name="images"
                                      accept=".png, .jpg, .jpeg"
                                    />
                                    <label for="imageUpload"
                                      ><img
                                        src="/assets/img/icons/edit.svg"
                                        class="svg_img header_svg"
                                        alt="edit"
                                    /></label>
                                  </div>
                                  <div class="thumb-preview ec-preview">
                                    <div class="image-thumb-preview">
                                      <img
                                        class="image-thumb-preview ec-image-preview"
                                        src="/assets/img/products/vender-upload-thumb-preview.jpg"
                                        alt="edit"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- </div> -->
                        <div class="col-lg-8">
                          <div class="ec-vendor-upload-detail">
                            <!-- <form class="row g-3"> -->
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label"
                                >Product name</label
                              >
                              <input
                                type="text"
                                class="form-control slug-title"
                                name="prodname"
                                id="inputEmail4"
                              />
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"
                                >Select Categories</label
                              >
                              <select
                                name="categories"
                                id="Categories"
                                class="form-select"
                              >
                                <% categoryDetails.forEach(cat =>{ %>
                                <option value="<%=cat._id %>">
                                  <%= cat.name %>
                                </option>
                                <% } )%>
                              </select>
                            </div>

                            <div class="col-md-12">
                              <label class="form-label">Description</label>
                              <textarea
                                class="form-control"
                                rows="2"
                                name="description"
                              ></textarea>
                            </div>
                            <div class="col-md-4 mb-25">
                              <label class="form-label">Colors</label>
                              <div class="d-flex justify-content-around">
                                <input
                                  type="color"
                                  class="form-control w-100 form-control-color"
                                  id="exampleColorInput1"
                                  value="#fff"
                                  name="color"
                                  title="Choose your color"
                                />
                              </div>
                            </div>
                            <div class="col-md-8 mb-25">
                              <label class="form-label">Size</label>
                              <div class="form-checkbox-box">
                                <div class="form-check form-check-inline">
                                  <input type="radio" name="size" value="S" />
                                  <label>S</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input type="radio" name="size" value="M" />
                                  <label>M</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input type="radio" name="size" value="L" />
                                  <label>L</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input type="radio" name="size" value="XL" />
                                  <label>XL</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input type="radio" name="size" value="XXL" />
                                  <label>XXL</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"
                                >Price <span>( In INR )</span></label
                              >
                              <input
                                type="number"
                                class="form-control"
                                name="price"
                                min="1"
                                id="price1"
                              />
                            </div>
                            <div class="col-md-6">
                              <label class="form-label"
                                >discount <span>( In % )</span></label
                              >
                              <input
                                type="number"
                                class="form-control"
                                name="discount"
                                min="0"
                                max="100"
                                value="0"
                                id="price1"
                              />
                            </div>
                            <div class="col-md-6">
                              <label class="form-label">Quantity</label>
                              <input
                                type="number"
                                class="form-control"
                                name="quantity"
                                min="1"
                                id="quantity1"
                              />
                            </div>

                            <div class="col-md-12">
                              <label class="form-label"
                                >Product Tags
                                <span
                                  >( Type and make comma to separate tags
                                  )</span
                                ></label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="group_tag"
                                name="tag"
                                value=""
                                placeholder=""
                                data-role="tagsinput"
                              />
                              <% if (message){ %>
                                <p class="text-danger"><%= message %> !</p>
                                <% } %>
                            </div>
                           
                            <div class="col-md-12">
                              <button type="submit" class="btn btn-primary">
                                Submit
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Content -->
        </div>
        <!-- End Content Wrapper -->

        <!-- Footer -->
        <footer class="footer mt-auto">
          <div class="copyright bg-white">
            <p>
              Copyright &copy; <span id="ec-year"></span
              ><a
                class="text-primary"
                href="https://themeforest.net/user/ashishmaraviya"
                target="_blank"
              >
                HOSO Admin Dashboard</a
              >. All Rights Reserved.
            </p>
          </div>
        </footer>
      </div>
      <!-- End Page Wrapper -->
    </div>
    <!-- End Wrapper -->

    <!-- Common Javascript -->
    <script src="/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="/assets/plugins/jquery/jquery.notify.min.js"></script>
    <script src="/assets/plugins/jquery/jquery.bundle.notify.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/tags-input/bootstrap-tagsinput.js"></script>
    <script src="/assets/plugins/simplebar/simplebar.min.js"></script>
    <script src="/assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
    <script src="/assets/plugins/slick/slick.min.js"></script>

    <!-- Option Switcher -->
    <script src="/assets/plugins/options-sidebar/optionswitcher.js"></script>

    <!-- Ekka Custom -->
    <script src="/assets/js/ekka.js"></script>
  </body>
</html>
