<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fashi Template" />
    <meta name="keywords" content="Fashi, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <%- include('partial/user-header.ejs') %>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text product-more">
              <a href="./home.html"><i class="fa fa-home"></i> Home</a>
              <a href="./shop.html">Shop</a>
              <span>Detail</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="filter-widget">
              <h4 class="fw-title">Categories</h4>
              <ul class="filter-catagories">
                <%categoryDetails.forEach(item=>{ %>
                <li><a href="/shop?category=<%= item._id %>"><%=item.name %></a></li>
                <% }) %>
              </ul>
            </div>
           
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-6">
                <div class="product-pic-zoom">
                  <img
                    class="product-big-img"
                    src="images/products/<%=productView.thumbnail%>"
                    alt=""
                  />
                  <div class="zoom-icon">
                    <i class="fa fa-search-plus"></i>
                  </div>
                </div>
                <div class="product-thumbs">
                  <div class="product-thumbs-track ps-slider owl-carousel">
                    <% productView.images.forEach(element => { %>

                    <div
                      class="pt active"
                      data-imgbigurl="images/products/<%=element  %>"
                    >
                      <img src="images/products/<%=element  %>" alt="" />
                    </div>
                    <% }) %>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="product-details">
                  <div class="pd-title">
                    <span><%=productView.category.name%> </span>
                    <h3><%=productView.product_name %></h3>
                    <a
                      onclick="addingToWish(this)"
                      class="heart-icon"
                      data-id="<%= productView._id %>"
                    >
                      <% let wishlist = locals.wishlist || null %> <% if
                      (wishlist && wishlist.items.length &&
                      wishlist.items.some(el => el.product.toString() ==
                      productView._id.toString()) ) {%>
                      <i class="icon_heart"></i>
                      <% } else { %>
                      <i class="icon_heart_alt"></i>
                      <% } %>
                    </a>
                  </div>
                  <div class="pd-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>(5)</span>
                  </div>
                  <div class="pd-desc">
                    <p><%=productView.description %></p>
                    <h4><%= (productView.discount)? productView.price*(1-productView.discount/100):" "; %><span><%=productView.price %></span></h4>
                  </div>
                  <div class="pd-color">  
                    <h6 style="background-color: <%=productView.color %>;">&nbsp;Color&nbsp;</h6>
                  </div>
                  <div class="pd-size-choose">
                    <div class="sc-item">
                      <input type="radio" id="sm-size" />
                      <label for="sm-size"><%=productView.size %></label>
                    </div>
                    <!-- <div class="sc-item">
                                        <input type="radio" id="md-size">
                                        <label for="md-size">m</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="lg-size">
                                        <label for="lg-size">l</label>
                                    </div>
                                    <div class="sc-item">
                                        <input type="radio" id="xl-size">
                                        <label for="xl-size">xs</label>
                                    </div> -->
                  </div>
                  <div class="quantity">
                    
                    <a
                      onclick="addingToCarthome('<%= productView._id %>')"
                      class="primary-btn pd-cart"
                      >Add To Cart</a
                    >
                  </div>
                  <ul class="pd-tags">
                    <li><span>TAGS : </span><%=productView.tag %></li>
                  </ul>
                 
                </div>
              </div>
            </div>
            <div class="product-tab">
              <div class="tab-item">
                <ul class="nav" role="tablist">
                  <li>
                    <a class="active" data-toggle="tab" href="#tab-1" role="tab"
                      >DESCRIPTION</a
                    >
                  </li>
                  <li>
                    <a data-toggle="tab" href="#tab-2" role="tab"
                      >SPECIFICATIONS</a
                    >
                  </li>
                  <li>
                    <a data-toggle="tab" href="#tab-3" role="tab"
                      >Customer Reviews (02)</a
                    >
                  </li>
                </ul>
              </div>
              <div class="tab-item-content">
                <div class="tab-content">
                  <div
                    class="tab-pane fade-in active"
                    id="tab-1"
                    role="tabpanel"
                  >
                    <div class="product-content">
                      <div class="row">
                        <div class="col-lg-7">
                          <h5>Introduction</h5>
                          <p><%=productView.description %></p>
                          <h5>Features</h5>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                          </p>
                        </div>
                        <div class="col-lg-5">
                          <img
                            src="images/products/<%=productView.images[2]%>"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab-2" role="tabpanel">
                    <div class="specification-table">
                      <table>
                        <tr>
                          <td class="p-catagory">Customer Rating</td>
                          <td>
                            <div class="pd-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <span>(5)</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-catagory">Price</td>
                          <td>
                            <div class="p-price"><%=productView.price %></div>
                          </td>
                        </tr>
                        
                        <tr>
                          <td class="p-catagory">Availability</td>
                          <td>
                            <div class="p-stock">
                              <%=productView.quantity %>-QTY
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-catagory">Size</td>
                          <td>
                            <div class="p-size"><%=productView.size %></div>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-catagory">Color</td>
                          <td>
                            <span class="cs-color" style="background-color: <%=productView.color %>;">&nbsp;&nbsp;</span
                            >
                          </td>
                        </tr>
                       
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="tab-3" role="tabpanel">
                    <div class="customer-review-option">
                      <h4><%= review.length %> Comments</h4>
                      <%review.forEach(el=>{ %>
                      <div class="comment-option">
                        <div class="co-item">
                          <div class="avatar-pic">
                            <img src="img/product-single/avatar-1.png" alt="" />
                          </div>
                          <div class="avatar-text">
                            <div class="at-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <h5><%= el.user.name %> <span></span><%= el.createdAt.toLocaleDateString() %></h5>
                            <div class="at-reply"><%= el.content %></div>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                      
                      <div class="leave-comment">
                        <h4>Leave A Comment</h4>
                        <form action="/review?product=<%= productView._id %>" method="POST" class="comment-form">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="rating">
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                                    <i class="rating__star far fa-star"></i>
                              </div>
                            </div>
                            <input type="hidden" id="rating" name="rating" value="0">
                            <div class="col-lg-12">
                              <textarea name="comment" placeholder="Messages"></textarea>
                              <button type="submit" class="site-btn">
                                Send message
                              </button>
                              <% let message = locals.message || null %>
                              <% if (message){ %>
                                <p class="text-danger"><%= message %> !</p>
                                <% } %>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Shop Section End -->
    <script>
      async function addingToWish(el) {
        const productId = $(el).data("id");
        $.ajax({
          url: "/add-to-wish",
          method: "PATCH",
          data: {
            productId,
          },
          success: (response) => {
            if (response.status === "success") {
              $(el)
                .children('i')
                .addClass("icon_heart")
                .removeClass("icon_heart_alt");

              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "success",
                title: "Added to Wishlist",
              });
            } else if (response.status === "removed") {
              $(el)
                .children('i')
                .addClass("icon_heart_alt")
                .removeClass("icon_heart");
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "success",
                title: "Removed from Wishlist",
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
              });
            }
          },
        });
      }
      async function addingToCarthome(el) {
        const productId = el;
        console.log("cart script");
        $.ajax({
          url: "/add-to-carthome",
          method: "PATCH",
          data: {
            productId,
          },
          success: (response) => {
            if (response.status == "success") {
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "success",
                title: "added to cart",
              });
            } else if (response.status == "already") {
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "success",
                title: "already exist in cart",
              });
            } else {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
              });
            }
          },
        });
      }
    </script>
    <!-- Related Products Section End -->
    <div class="related-products spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>Related Products</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="img/products/women-1.jpg" alt="" />
                <div class="sale">Sale</div>
                <div class="icon">
                  <i class="icon_heart_alt"></i>
                </div>
                <ul>
                  <li class="w-icon active">
                    <a href="#"><i class="icon_bag_alt"></i></a>
                  </li>
                  <li class="quick-view"><a href="#">+ Quick View</a></li>
                  <li class="w-icon">
                    <a href="#"><i class="fa fa-random"></i></a>
                  </li>
                </ul>
              </div>
              <div class="pi-text">
                <div class="catagory-name">Coat</div>
                <a href="#">
                  <h5>Pure Pineapple</h5>
                </a>
                <div class="product-price">
                  $14.00
                  <span>$35.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="img/products/women-2.jpg" alt="" />
                <div class="icon">
                  <i class="icon_heart_alt"></i>
                </div>
                <ul>
                  <li class="w-icon active">
                    <a href="#"><i class="icon_bag_alt"></i></a>
                  </li>
                  <li class="quick-view"><a href="#">+ Quick View</a></li>
                  <li class="w-icon">
                    <a href="#"><i class="fa fa-random"></i></a>
                  </li>
                </ul>
              </div>
              <div class="pi-text">
                <div class="catagory-name">Shoes</div>
                <a href="#">
                  <h5>Guangzhou sweater</h5>
                </a>
                <div class="product-price">$13.00</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="img/products/women-3.jpg" alt="" />
                <div class="icon">
                  <i class="icon_heart_alt"></i>
                </div>
                <ul>
                  <li class="w-icon active">
                    <a href="#"><i class="icon_bag_alt"></i></a>
                  </li>
                  <li class="quick-view"><a href="#">+ Quick View</a></li>
                  <li class="w-icon">
                    <a href="#"><i class="fa fa-random"></i></a>
                  </li>
                </ul>
              </div>
              <div class="pi-text">
                <div class="catagory-name">Towel</div>
                <a href="#">
                  <h5>Pure Pineapple</h5>
                </a>
                <div class="product-price">$34.00</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <img src="img/products/women-4.jpg" alt="" />
                <div class="icon">
                  <i class="icon_heart_alt"></i>
                </div>
                <ul>
                  <li class="w-icon active">
                    <a href="#"><i class="icon_bag_alt"></i></a>
                  </li>
                  <li class="quick-view"><a href="#">+ Quick View</a></li>
                  <li class="w-icon">
                    <a href="#"><i class="fa fa-random"></i></a>
                  </li>
                </ul>
              </div>
              <div class="pi-text">
                <div class="catagory-name">Towel</div>
                <a href="#">
                  <h5>Converse Shoes</h5>
                </a>
                <div class="product-price">$34.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Related Products Section End -->
    
    <!-- Partner Logo Section Begin -->

    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <%-include('partial/user-footer.ejs') %>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
    const ratingStars = [...document.getElementsByClassName("rating__star")];

  function executeRating(stars) {
  const starClassActive = "rating__star fas fa-star";
  const starClassInactive = "rating__star far fa-star";
  const starsLength = stars.length;
  let starActiveCount;
  let i;

  stars.map((star) => {
    star.onclick = () => {
      i = stars.indexOf(star);
     

      if (star.className===starClassInactive) {
       
        starActiveCount=0

        for (i; i >= 0; --i){ 
          starActiveCount++
          stars[i].className = starClassActive;
        }
      } else {
        let count = starActiveCount-1;
         for(j=count;j>i;j--){
          stars[j].className = starClassInactive;
          starActiveCount--
         }
      }
      console.log(starActiveCount);
      $('#rating').val(starActiveCount)
     
    };

  });
}
executeRating(ratingStars);
      </script>
  </body>
</html>
